<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBwoc8iAvpIJsIuGTEzV9ud03AmPFCC1E</string>
	<key>GCM_SENDER_ID</key>
	<string>992553463677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stavaxNew.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stavax-new</string>
	<key>STORAGE_BUCKET</key>
	<string>stavax-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992553463677:ios:756b25a2e64501e9cc2614</string>
</dict>
</plist>